# Editors
.vscode/

# Mac/OSX
.DS_Store

# python
venv

# Windows
Thumbs.db

# ignore files ending with ~
*~

# ignore pyc files
*.pyc

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

out.txt
previous_*
*.csv
collapse.py
src
