# Editors
.vscode/

# OS-specific files to ignore
# Mac/OSX
.DS_Store

# python
venv

# Windows
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cython debug symbols
cython_debug/

# ignore files ending with ~
*~

# ignore pyc files
*.pyc

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# ignore data files
*.csv
